﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aurelia + WebPack + ASP.NET Core</title>
  </head>
  <body aurelia-app="main">
    <div class="splash">
      <div class="message">Loading...</div>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
