<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-home"></i>
                    <span>Aurelia + WebPack + ASP.NET Core</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="New Todo" value.bind="newTodoText">
            </div>
            <button type="submit" class="btn btn-default" click.trigger="addTodo()">Add</button>
        </form>
        <ul class="list-group">
            <li class="list-group-item" repeat.for="todo of todos">
                <input type="checkbox" checked.one-way="todo.done" click.delegate="setIsComplete(todo)">
                <span css="text-decoration: ${todo.isComplete ? 'line-through' : 'none'}">
                    ${todo.text}
                </span>
                <a href="#" click.delegate="removeTodo(todo)" class="remove-todo">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
        </ul>
    </div>
</template>